html,
body {
    height: 100%;
    font-size: 1rem;
  
}


.headcolor{
background-color: rgb(49, 111, 216);
}



.landpage{
    padding-top: 4rem;
    font-size: 1.25rem;
    color: white;
    font-family: 'Times New Roman', Times, serif;

}

.pageSection1{
    background-color: #f2f2f2;
    padding: 1.7rem;
}

.pageSection2{
    background-color: #0077e6;
    padding: 1.7rem;
}

.top4 { 
    margin-top:4%; 
}

.top2 { 
    margin-top:2%; 
}

.bot2 {
    margin-bottom: 2%;
}

.bot4 {
    margin-bottom: 4%;
}


.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #F8F8F8 !important;
    color: #0077e6;
    border: none;
}

.btn-primary:hover {
    background-color: #0077e6!important;
    border: none;
}

.btn-space {
    margin-top: 6px;
}

.footerst {
    background-color:	 #404040 ;
}

.text-underline-hover {
    text-decoration: none;
}

.text-underline-hover:hover {
    text-decoration: underline;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .iformat{
      margin: 5% 28%;
  }

  .btn-secondary {
      border: none !important;
  }
